
{% extends 'portfolio/layout.html' %}

{block style %}
    {%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}"/>


{ endblock style %}

{% block main %}
<div class="container">
    <div class="divRetangulos">

        <a href="{% url 'portfolio:novo' %}" >Criar Post</a>

        {% for blog_post in blog_posts %}

            <div class="">
                <p>{{blog_post.titulo}}</p>

                <p>{{blog_post.descricao}}</p>

                {% if blog_post.image %}
                   <img src="{{ blog_post.image.url|default_if_none:'#' }}" class="post_img" alt=""/>
                {% endif %}


                <p>{{blog_post.autor}} at {{blog_post.data}}<a href="{% url 'portfolio:edita'  blog_post.id %}">Editar</a></p>

            </div>



        {% endfor %}

    </div>
</div>



{% endblock main %}
