
{% extends 'portfolio/layout.html' %}

{block style %}
    {%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/home.css' %}"/>

{ endblock style %}

{% block main %}
        <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">

<div class="container1" >



<div class="backText">

    <h1 class="titulo">

        Software Developer!
    </h1>



</div>




  </div>




<div class="parallax2">



</div>



{% endblock main %}
