
{% extends 'portfolio/layout.html' %}

{block style %}
    {%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/home.css' %}"/>

{ endblock style %}

{% block main %}
        <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">

<div class="container1" id="welcome" >



<div class="backText">

    <h1 class="titulo">

        Welcome!
    </h1>

    <article class="titulo2">
        <p style="color: ">Im a Computer Science Engineering Student and this is my Portfolio! </p>

</article>



</div>




  </div>




<div class="parallax2" >

<div class="backText2">



<article class="titulo3"  id="aboutMe">

</article>

</div>







</div>





{% endblock main %}
