<!DOCTYPE html>
<html lang="en">
{% extends 'portfolio/layout.html' %}
<head>
    <meta charset="UTF-8">
    <title>Licenciatura</title>
</head>



<body>






{% block main %}

        {%  load static %}


<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/licenciatura.css' %}"/>















    <h1 div style="text-align:center"  >Licenciatura</h1>
    <br>
    <h2 style="text-align:center">Unidades Curriculares</h2>

<div class="container" >


  <div>


    <h3 style="margin-bottom:0.30cm;" >Nome:Arquitetura Avançada de  Computadores</h3>

    <h5 style="margin-bottom:0.20cm;">Ano: 2º </h5>

    <h4 style="margin-bottom:0.20cm;">ETCS: 6 </h4>

    <h4 style="margin-bottom:0.20cm;">Topicos:
        <ul>
            <li>Topico1</li>
            <li>Topico2</li>
            <li>Topico3</li>
        </ul>
    </h4>

     <h4 style="margin-bottom:0.20cm;" >Ranking:
         <span class="estrelas">&#9733;
&#9733;&#9733;
&#9733;
         </span>

 </h4>

       <h4 style="margin-bottom:0.20cm;">Professores:
       <ul>
           <li>Pedro Serra</li>

       </ul>


       </h4>

      <h4 style="margin-bottom:0.20cm;">
      <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/arquiteturas-avancadas-de-computadores/ULHT260-13398" target="_blank" >
          Link UC
      </a>



      </h4>



    <h4 style="margin-bottom:0.20cm;">Projetos Realizados: </h4>



  </div>














  <div>


    <h3 style="margin-bottom:0.30cm;" >Nome:Linguagens de Programação I</h3>

    <h5 style="margin-bottom:0.20cm;">Ano: 1º </h5>

    <h4 style="margin-bottom:0.20cm;">ETCS: 6 </h4>

    <h4 style="margin-bottom:0.20cm;">Topicos:
        <ul>
            <li>Topico1</li>
            <li>Topico2</li>
            <li>Topico3</li>
        </ul>
    </h4>

     <h4 style="margin-bottom:0.20cm;" >Ranking:
         <span class="estrelas">&#9733;
&#9733;&#9733;
&#9733;

         </span>

 </h4>

       <h4 style="margin-bottom:0.20cm;">Professores:
       <ul>
           <li>Pedro Serra</li>

       </ul>


       </h4>

      <h4 style="margin-bottom:0.20cm;">
      <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/linguagens-de-programacao-i/ULHT260-498" target="_blank" >
          Link UC
      </a>



      </h4>



    <h4 style="margin-bottom:0.20cm;">Projetos Realizados: </h4>



  </div>






  <div>


    <h3 style="margin-bottom:0.30cm;" >Nome:Linguagens de Programação II</h3>

    <h5 style="margin-bottom:0.20cm;">Ano: 2º </h5>

    <h4 style="margin-bottom:0.20cm;">ETCS: 6 </h4>

    <h4 style="margin-bottom:0.20cm;">Topicos:
        <ul>
            <li>Topico1</li>
            <li>Topico2</li>
            <li>Topico3</li>
        </ul>
    </h4>

     <h4 style="margin-bottom:0.20cm;" >Ranking:
         <span class="estrelas">
                      &#9733;
&#9733;&#9733;
&#9733;
         </span>


 </h4>

       <h4 style="margin-bottom:0.20cm;">Professores:
       <ul>
           <li>Pedro Alves</li>

       </ul>


       </h4>

      <h4 style="margin-bottom:0.20cm;">
      <a href="https://www.ulusofona.pt/licenciaturas/engenharia-informatica/linguagens-de-programacao-ii/ULHT260-898" target="_blank" >
          Link UC
      </a>



      </h4>



    <h4 style="margin-bottom:0.20cm;">Projetos Realizados: </h4>



  </div>













 </div>





{% endblock %}





</body>
</html>