
{% extends 'portfolio/layout.html' %}

{% block style %}



{% endblock style %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/quizz.css' %}" >

<div class="container">
    <div class="centrar2">

        <div class="graph">
            {% load static %}
            <img src="../../static/portfolio/images/grafico_final.png">
        </div>

        <div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn">
            </form>
        </div>

    </div>
</div>


{% endblock %}
