
{% extends 'portfolio/layout.html' %}





{% block main %}

    {%  load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/educacao.css' %}"/>



            <meta charset="UTF-8" name="viewport"  content="width=device-width,initial-scale=1.0
">











<div class="container2" >




    <article class="titulo">  Programação Web

    <a  class="linkz" href="{% url 'portfolio:quizz' %}" target="_blank">Quiz</a>

<a  class="linkz" href="https://a22007457-pw-lab2.herokuapp.com" target="_blank">Labs</a>

    </article>





<h2 CLASS="centrartexto3">Noticias</h2>
<div>

    <h3 > 5 Lessons Learned in Pandemic Year 2</h3>

    <p>
    One million Americans have died from a virus that was unknown to humans just a couple of years ago. Covid became the third leading cause of death in the U.S in 2020. Ask yourself, what would you say to someone if they told you in just over two years, a virus too small to see with the naked eye but brutal enough to kill a population the size of Delaware would sweep through the nation?

As leaders in one of the largest healthcare systems in the United States, we would say: this would be a travesty of epic proportions.

    </p>

     <a class="centrartexto2" href="https://syramadad.medium.com/5-lessons-learned-in-pandemic-year-2-1b62f7f51011" target="_blank"><img src="{% static 'portfolio/images/noticia1.png' %}" alt="">
     </a>
</div>




<div>

    <h3 >How to encrypt your entire life in less than an hour</h3>

    <p>
Andy Grove was a Hungarian refugee who escaped communism, studied engineering, and ultimately led the personal computer revolution as the CEO of Intel. He died earlier this year in Silicon Valley after a long fight with Parkinson’s disease.

When one of the most powerful people in the world encourages us to be paranoid, maybe we should listen.

And Grove isn’t the only powerful person urging caution. Even the director of the FBI — the same official who recently paid hackers a million dollars to unlock a shooter’s iPhone — is encouraging everyone to cover their webcams.

But you obey the law. What do you have to worry about? As the motto of the United Kingdom’s surveillance program reminds us, “If you’ve got nothing to hide, you’ve got nothing to fear.”

    </p>

     <a class="centrartexto2" href="https://medium.com/free-code-camp/tor-signal-and-beyond-a-law-abiding-citizens-guide-to-privacy-1a593f2104c3" target="_blank"><img src="{% static 'portfolio/images/noticia2.png' %}" alt="">
     </a>
</div>












<div>

    <h3 >Write Better Code Faster: 5 min read</h3>

    <p>
Trivial tips on how to code faster without compromising quality

Recently, I’ve read “Modern Software Engineering” by David Farley, which elaborates on durable principles at the heart of modern software development. I think this book is a great source for both experienced and junior engineers, though from different perspectives.

Fresh developers will find the book as good guide on how to design & develop a software without reinventing the wheel. Mr. Farley gives hands on instructions how to make reasonable decisions when you’ve just started writing first lines of your application code. As for an experienced engineer, the authors book would seem like a complex conversation about challenges & solutions in modern software engineering.
    </p>

     <a class="centrartexto2" href="https://orkhanscience.medium.com/write-better-code-faster-40e081d6a81d" target="_blank"><img src="{% static 'portfolio/images/noticia3.png' %}" alt="">
     </a>
</div>









<div>

    <h3 >Things I learned and will never do again
2021 edition.</h3>

    <p>
These are some notes from a personal notebook of mine dated 2021.

I believe it is important to always be critical of oneself and truthful in one’s thinking—you must be a true fool to lie to yourself. Certainly, ideally you have this attitude to all those around you, but with no exception, one should absolutely always be true against oneself. I like keeping very uncensored thoughts in notebooks so I can return and mine past experiences.
    </p>

     <a class="centrartexto2" href="https://mikaelvesavuori.medium.com/things-i-learned-and-will-never-do-again-9c4242ee7d06" target="_blank"><img src="{% static 'portfolio/images/noticia4.png' %}" alt="">
     </a>
</div>










<div>

    <h3 >Grown Startup Pains That Were Solved With the Transition to Agile</h3>

    <p>
Have you ever worked on complex feature implementation with some challenging slippery bugs? Later to find out, during a morning coffee chat with the product manager, that it should be re-designed? Since the feature requirements are a bit different than what was first defined.

This use case can be mitigated using the Agile methodology.
    </p>

     <a class="centrartexto2" href="https://medium.com/@shaanib/grown-startup-pains-that-were-solved-with-the-transition-to-agile-167d3f538349" target="_blank"><img src="{% static 'portfolio/images/noticia5.png' %}" alt="">
     </a>
</div>





<div>

    <h3> Life At Google </h3>

    <p>
The “Noogler” phase

Well, it all starts with a 3-week Google Technical Immersion(GTI) program. It’s the very first thing every new hire goes through before working with their actual team. All the new hires in APAC region fly to Singapore for an exciting 3 weeks event. But, it has been made virtual for quite some time now, courtesy COVID. Here, you & a small Noogler team work on a project using Google’s tools, processes and methodologies.
    </p>

     <a class="centrartexto2" href="https://garima007rajput.medium.com/life-at-google-ead4a69656c9" target="_blank"><img src="{% static 'portfolio/images/noticia6.png' %}" alt="">
     </a>
</div>






<div>

    <h3> The Three-body Problem in Software Development</h3>

    <p>
Tight coupling in code is something that builds up with time because we treat different parts as one big whole. We should avoid doing that.
    </p>

     <a class="centrartexto2" href="https://betterprogramming.pub/the-three-body-problem-in-software-development-74adeda6807c" target="_blank"><img src="{% static 'portfolio/images/noticia7.png' %}" alt="">
     </a>
</div>







<div>

    <h3> A Final Farewell to the iPod</h3>

    <p>
The device that saved Apple and made the company what it is today is now officially part of the company’s past
    </p>

     <a class="centrartexto2" href="https://omarzahran.medium.com/a-final-farewell-to-the-ipod-32aea71846d1" target="_blank"><img src="{% static 'portfolio/images/noticia8.png' %}" alt="">
     </a>
</div>



<div>

    <h3> Standing Tall in the Era of iPosture </h3>

    <p>
How technology is reshaping our bodies and what we can do about it
    </p>

     <a class="centrartexto2" href="https://medium.com/body-wisdom/standing-tall-in-the-era-of-iposture-2eefeae71f4d" target="_blank"><img src="{% static 'portfolio/images/noticia9.png' %}" alt="">
     </a>
</div>




<div>

    <h3> Voyager 1 Starts Sending NASA Random Data, Nobody Knows Why Yet </h3>

    <p>
Voyager 1 continues to return science data and otherwise operate as normal, but readouts beamed back to Earth from the probe’s attitude articulation and control system (AACS) don’t reflect what’s happening onboard.
    </p>

     <a class="centrartexto2" href="https://medium.com/pcmag-access/voyager-1-starts-sending-nasa-random-data-nobody-knows-why-yet-f0d54b758320" target="_blank"><img src="{% static 'portfolio/images/noticia10.png' %}" alt="">
     </a>
</div>





 </div>









{% endblock %}

