* {padding: 0; margin: 0;}

img *{
  overflow: hidden;
}

.container1 {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
  overflow: hidden;
  background-image: url('../images/68747470733a2f2f692e696d6775722e636f6d2f315a76566b44632e676966 (1).gif');
}