* {padding: 0; margin: 0;}

img *{
  overflow: hidden;
}





        .container1 {
position: absolute;
            min-height: 500px;

            background-image: url('../images/68747470733a2f2f692e696d6775722e636f6d2f315a76566b44632e676966 (1).gif');

  background-position: center;
  background-repeat: no-repeat;
 width: 100%;
    height: 100%;
 padding-left: 50px;
    padding-top: 75px;

background-attachment: fixed;

  background-size: cover;


    top: 0;
    left: 0;

}



.titulo{
      position: absolute;
    top: 80px;
    right: 270px;
    color: white;
    font-weight: bold;
    font-size: 72px;


}



.titulo2{
      position: absolute;
    top: 200px;
    right: 270px;
    color: white;
    font-weight: bold;
    font-size: 50px;


}

.parallax2{
     background-image: url('../images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg');
 height: 2000px;
}



.backText{
      position: relative;
}

.titulo3{
      position: absolute;
    top: 900px;
    right: 270px;
    color: white;
    font-weight: bold;
    font-size: 50px;


}

